
{% block body %}
<title>PeliculasMirant index</title>
    <h1>PeliculasMirant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitPelicula</th>
                <th>TrailerPelicula</th>
                <th>FotoPelicula</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
{% for peliculas_mirant in peliculas_mirants %}
		        {# 	{% set itemsXPage = 4 %}
			{% set lowerLimit = (currentPage - 1) * itemsXPage %}
			{% set upperLimit = currentPage * itemsXPage %} 
			{% for dish in data %}
				{% if loop.index0 >= lowerLimit and loop.index0 < upperLimit %}
                <tr>
                    {# <td>{{ peliculas_mirant.id }}</td> #}
                    {# <td><a href="{{ path('peliculas_mirant_show', {'id': peliculas_mirant.id}) }}" ><img src="/img/Carteles_mirant/{{ peliculas_mirant.img }} "width="300"></a></td>
                    <td><p style="margin-top: 56px;">{{ peliculas_mirant.titulo }}</p></td>

                    {# <td>{{ peliculas_mirant.trailer }}</td> #}
                    {# <td>
                        <a href="{{ path('peliculas_mirant_show', {'id': peliculas_mirant.id}) }}"><i class="fas fa-eye" style="margin-top: 56px;"></i></a><br>
                        <a href="{{ path('peliculas_mirant_edit', {'id': peliculas_mirant.id}) }}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
                {% endif %}
			{% endfor %} #}
            <tr>
                <td>{{ peliculas_mirant.id }}</td>
                <td>{{ peliculas_mirant.titPelicula }}</td>
                <td>{{ peliculas_mirant.trailerPelicula }}</td>
                <td>{{ peliculas_mirant.fotoPelicula }}</td>
                <td>{{ peliculas_mirant.edicion }}</td>
                
                <td>
                    <a href="{{ path('peliculas_mirant_show', {'id': peliculas_mirant.id}) }}">show</a>
                    <a href="{{ path('peliculas_mirant_edit', {'id': peliculas_mirant.id}) }}">edit</a>
                </td>
            </tr>
        {# {% else %} #}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('peliculas_mirant_new') }}">Create new</a>
{% endblock %}
