<!DOCTYPE html>

<title>PeliculasMirant index</title>

{% block body %}
    <h1>PeliculasMirant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitPelicula</th>
                <th>TrailerPelicula</th>
                <th>FotoPelicula</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for peliculas_mirant in peliculas_mirants %}
            <tr>
                <td>{{ peliculas_mirant.id }}</td>
                <td>{{ peliculas_mirant.titPelicula }}</td>
                <td>{{ peliculas_mirant.trailerPelicula }}</td>
                <td>{{ peliculas_mirant.fotoPelicula }}</td>
                <td>{{ peliculas_mirant.edicion.getEdicion()}}</td>
                
                <td>
                    <a href="{{ path('peliculas_mirant_show', {'id': peliculas_mirant.id}) }}">show</a>
                    <a href="{{ path('peliculas_mirant_edit', {'id': peliculas_mirant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('peliculas_mirant_new') }}">Create new</a>
{% endblock %}
