{% extends "adminpage/layout.html.twig" %}

    {% block div %}
    <h1>PeliculasMirant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titulo de la Pelicula</th>
                <td>{{ peliculas_mirant.titPelicula }}</td>
            </tr>
            <tr>
                <th>Trailer de la Pelicula</th>
                <td>{{ peliculas_mirant.trailerPelicula }}</td>
            </tr>
            <tr>
                <th>Foto de la Pelicula</th>
                <td><img src="{{asset( peliculas_mirant.fotoPelicula, "peliculasMirant" )}}" width="550"></td>
            </tr>
                        <tr>
                <th>Edición de Mirant</th>
                <td>{% for mirant in mirantBBDD %}
               {% if peliculas_mirant.edicion == mirant.getTitMirant() %}
                {{mirant.id}}
                {% endif %}
                {% endfor %}</td>
            </tr>
        </tbody>
    </table>
 <a href="{{ path('peliculas_mirant_index') }}" style="margin-left:10px" ><button type="button" id="sidebarCollapse" class="btn btn-info">
           <i class="fas fa-angle-left"></i>
            <span>Volver</span>
            </button></a>

    <a href="{{ path('peliculas_mirant_edit', {'id': peliculas_mirant.id}) }}"><button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-edit"></i>
            <span>Editar</span>
            </button></a>
    {{ include('peliculas_mirant/_delete_form.html.twig') }}
{% endblock %}
