{% extends "adminpage/layout.html.twig" %}

    {% block div %}
    <title>Entidades index</title>
        <h1>Entidades index</h1>

    <table class="table table-striped table-hover" align="center" style="text-align: center;">
        <thead>
            <tr>
                <th>TitCabecera</th>
                <th>DireccionV</th>
                <th>DireccionA</th>
                <th>DireccionC</th>
            </tr>
        </thead>
        <tbody>
        {% for pag_contacto in pag_contactos %}
            <tr>
                <td>{{ pag_contacto.titCabecera }}</td>
                <td>{{ pag_contacto.direccionV }}</td>
                <td>{{ pag_contacto.direccionA }}</td>
                <td>{{ pag_contacto.direccionC }}</td>
                <td>
                    <a href="{{ path('pag_contacto_edit', {'id': pag_contacto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
