

{% extends "adminpage/layout.html.twig" %}

    {% block div %}
          <h1>PonenteJornada index</h1>
<title>PonenteJornada index</title>
    <table class="table" style="text-align:center;">
        <thead >
            <tr>
                {# <th>Id</th> #}
                <th>Titulo</th>
                <th>Img</th>
                {# <th>Descripcion</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody >
        {% for ponente_jornada in ponente_jornadas %}
            <tr>
                {# <td>{{ ponente_jornada.id }}</td> #}
                <td ><p style="margin-top: 56px;">{{ ponente_jornada.titulo }}</p></td>
                <td><img src="/img/jornadas/{{ ponente_jornada.img }}" width="130" ></td>
                {# <td>{{ ponente_jornada.descripcion }}</td> #}
                <td>
                    <a href="{{ path('ponente_jornada_show', {'id': ponente_jornada.id}) }}" ><i class="fas fa-eye" style="margin-top: 56px;"></i>
</p></a>
                    <a href="{{ path('ponente_jornada_edit', {'id': ponente_jornada.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ponente_jornada_new') }}">Create new</a>

                   
{% endblock %}
