{% extends "adminpage/layout.html.twig" %}

    {% block div %}
    <title>PonenteJornada</title>
            <h1>PonenteJornada</h1>

    <table class="table" style="text-align:center">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ ponente_jornada.id }}</td>
            </tr> #}
                <tr>
 
<td><img src="/img/jornadas/{{ ponente_jornada.img }}" width="130" ></td>
            </tr>
            <tr>
                
                <td><p style="font-weight:bold">Titulo</p>{{ ponente_jornada.titulo }}</td>
            </tr>

            <tr>
                <td><p style="font-weight:bold">Descripcion</p>{{ ponente_jornada.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ponente_jornada_index') }}">back to list</a>

    <a href="{{ path('ponente_jornada_edit', {'id': ponente_jornada.id}) }}">edit</a>

    {{ include('ponente_jornada/_delete_form.html.twig') }}
                   
{% endblock %}
