{% extends "adminpage/layout.html.twig" %}

    {% block div %}
    <table class="table table-striped table-hover" align="center" style="text-align: center;">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitCabecera</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pag_forma_parte in pag_forma_partes %}
            <tr>
                <td>{{ pag_forma_parte.id }}</td>
                <td>{{ pag_forma_parte.titCabecera }}</td>
                <td>
                    <a href="{{ path('pag_forma_parte_show', {'id': pag_forma_parte.id}) }}">show</a>
                    <a href="{{ path('pag_forma_parte_edit', {'id': pag_forma_parte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('pag_entidades_new') }}">Create new</a>
{% endblock %}