<!DOCTYPE html>

<title>PagFormaParte</title>

{% block body %}
    <h1>PagFormaParte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pag_forma_parte.id }}</td>
            </tr>
            <tr>
                <th>TitCabecera</th>
                <td>{{ pag_forma_parte.titCabecera }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pag_forma_parte_index') }}">back to list</a>

    <a href="{{ path('pag_forma_parte_edit', {'id': pag_forma_parte.id}) }}">edit</a>

    {{ include('pag_forma_parte/_delete_form.html.twig') }}
{% endblock %}
