{% extends "main/layout.html.twig" %}
{% block head %}
    <link rel="stylesheet" href="/css/estilosContacto.css">
{% endblock %}
{% block titulo %}Contacto{% endblock %}
{% block TituloCabecera %}{% for cabeza in contactobbdd %}{{ cabeza.titCabecera }}{% endfor %}{% endblock %}
{% block contenido %}
    <!-- Section -->
    <section class="container">
    <!-- Descripción de contacto -->
        <article id="descripcion" class="row">
            <h1 class="col-12 text-center text-dark">Únete a la red</h1>
            <div class="pTexto text-justify text-dark">No importa si eres una asociación, una universidad, un colegio oficial 
            o una administración pública. Únete a la red sanitaria solidaria de tu provincia y ayudanos 
            a hacer desde la comunidad valenciana un mundo y una sociedad más sanos.</div>
        </article>
        <!-- Direcciones de las asociaciones -->
        {% for direccion in contactobbdd %}
        <article id="direccion">
            <div class="direcciones row text-center">
                <div id="divDir1" class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4 ">
                    <img src="img/castellon.png" alt="Castellón" class="dirFoto"><br>
                    <h2>Castellón</h2><br>
                    <button class="collapsible1 btn bot" id="but1">Ver dirección</button>
                    <div class="col text-center content1">
                    <p style="margin-bottom:43px">{{ direccion.direccionC }}</p>
                    </div>
                </div>
                <div id="divDir2" class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4">
                    <img src="img/valencia.png" alt="Valencia" class="dirFoto"><br>
                    <h2>Valencia</h2><br>
                    <button class="collapsible2 btn bot" id="but2">Ver dirección</button>
                    <div class="col text-center content2">
                    <p>{{ direccion.direccionV }}</p>
                    </div>
                </div>
                <div id="divDir3" class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4">
                    <img src="img/alicante.png" alt="Alicante" class="dirFoto"><br>
                    <h2>Alicante</h2><br>
                    <button class="collapsible3 btn bot" id="but3">Ver dirección</button>
                    <div class="col text-center content3">
                    <p style="margin-bottom:43px ">{{ direccion.direccionA }}</p>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
        <!-- Formulario de contacto -->
        <article id="formulario" class="row text-secondary">
            <h1 class="col-12 text-center h1Form text-dark">Formulario de contacto</h1>
            {# <form class="> #}
            {{form_start(form, {'attr':{'class':"col-8 offset-2", "action":""}})}}
                <label for="nombre">Tu nombre (requerido)</label><br>
                {# <input name="nombre" class="form-control" type="text"></input> #}
                 {{form_widget(form.nombre, {'attr':{'class':'form-control', 'placeholder':'Nombre', 'required':''}})}}
                <label for="email">Tu correo electrónico (requerido)</label><br>
                {# <input name="email" class="form-control" type="text"></input> #}
                {{form_widget(form.email, {'attr':{'class':'form-control', 'placeholder':'Email', 'required':''}})}}
                <label for="rss">Selecciona la RSS de tu provincia</label><br>
                {# <select class="custom-select" name="rss">
                    <option value="rssc">RSS Castellón</option>
                    <option value="rssv">RSS Valencia</option>
                    <option value="rssa">RSS Alicante</option>
                </select> #}
                {{ form_widget(form.rssProvincia, {'attr':{'class':'custom-select', 'required':''}}) }}
                <br>
                <label for="selRSS">¿A quién representas?</label>
                {# <select class="custom-select" id="selRSS">
                    <option value="administracionPublica">Admnistración Pública</option>
                    <option value="asociacion">Asociación</option>
                    <option value="ong_d">ONG/ONGD</option>
                    <option value="colegioProfesional">Colegio Profesional</option>
                    <option value="universidades">Universidades</option>
                    <option value="otra">Otra</option>
                </select> #}
                {{ form_widget(form.representa, {'attr':{'class':'custom-select', 'required':''}}) }}
                <label for="asunto">Asunto</label><br>
                {# <input name="asunto" class="form-control" type="text"></input> #}
                {{form_widget(form.asunto, {'attr':{'class':'form-control', 'placeholder':'Asunto', 'required':''}})}}
                <label for="mensaje">Tu mensaje</label><br>
                {# <textarea name="mensaje" class="form-control" type="text" style="height:200px;resize:none;" cols="40" rows="20"></textarea><br> #}
                 {{form_widget(form.mensaje, {'attr':{'class':'form-control', 'placeholder':'Mensaje', 'required':'', 'style':"height:200px;resize:none;", 'cols':"40", 'rows':"20"}})}}
                {# <button class="btn boton">Enviar</button> #}
                {{form_widget(form.send, {'attr':{'class':'btn bot', 'placeholder':'Enviar',  'type':'submit'}})}}
            {# </form> #}
                              {{form_end(form)}}
        </article>
        <!-- Modelo de adhesión de la RSS -->
        <article id="adhesionRSS" class="row">
            <div class="col-12 text-center text-dark">
                <h1>Modelo de adhesión a la RSS de tu provincia</h1>
                <a href="https://redsanitariasolidaria.org/wp-content/uploads/2018/10/MODELO-DOCUMENTO-ADHESIO%CC%81N-A-RSS.pdf" target="_blank"><button class="btn modelo bot mb-5">Ver modelo</button></a>
            </div>
    </section>
    <script>
            var coll1 = document.getElementsByClassName("collapsible1");
            var coll2 = document.getElementsByClassName("collapsible2");
            var coll3 = document.getElementsByClassName("collapsible3");
            let h;
            let y;
            let w;

            for (h = 0; h < coll1.length; h++) {
                coll1[h].addEventListener("click", function() {
                this.classList.toggle("active");
                let content1 = this.nextElementSibling;
                if (content1.style.maxHeight){
                    content1.style.maxHeight = null;
                } else {
                    content1.style.maxHeight = content1.scrollHeight + "px";
                } 
            });
            }
            for (y = 0; y < coll2.length; y++) {
                coll2[y].addEventListener("click", function() {
                this.classList.toggle("active");
                let content2 = this.nextElementSibling;
                if (content2.style.maxHeight){
                    content2.style.maxHeight = null;
                } else {
                    content2.style.maxHeight = content2.scrollHeight + "px";
                } 
            });
            }
            for (w = 0; w < coll3.length; w++) {
                coll3[w].addEventListener("click", function() {
                this.classList.toggle("active");
                let content3 = this.nextElementSibling;
                if (content3.style.maxHeight){
                    content3.style.maxHeight = null;
                } else {
                    content3.style.maxHeight = content3.scrollHeight + "px";
                } 
            });
            }
    </script>
{% endblock %}