{% extends "main/layout.html.twig" %}
{% block head %}
<link rel="stylesheet" href="./css/index.css">
{% endblock %}
{% block titulo %}Inicio{% endblock %}
{% block contenido %}
<section class="container">

  <article class="row">

    <div class="col-12 text-center">
      <h1>Conócenos</h1>
    </div>
    <div class="col-12 text-center">
      <iframe width="720" height="550" src="https://www.youtube.com/embed/UI-CHyHa4VE" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  </article>

  <article class="row">

    <div class="col-12 text-center">
      <h1>¿Qué hacemos?</h1>
    </div>
    <div class="col-8 text-justify offset-2">
      <p>Somos un conjunto de entidades del sector social y sanitario que buscamos a través del trabajo en red, la formación y la reflexión, un camino compartido sobre la manera de entender la salud global, a través de la defensa del derecho a la salud, y de la cooperación al desarrollo bajo el enfoque de los derechos humanos.</p>
    </div>

    <!-- Cards -->
    <div id="cartas" class="col-lg-3 col-md-6 col-xs-6 col-12">
        <div class="card text-center">
          <div class="card-body">
            <i id="i" class="fa fa-stethoscope"></i>
            <h3 class="card-title mt-2" style="height:60px">Salud Global</h3>
            <hr>
            <p class="card-text" style="height:100px">Entendemos que la salud es un concepto global que no entiende de fronteras.</p>
            <a type="button" class="btn btn-primary mt-2" href="{{ path('expandido') }}">Leer más</a>
          </div>
        </div>
    </div>
    <div id="cartas" class="col-lg-3 col-md-6 col-xs-6 col-12">
        <div class="card text-center">
          <div class="card-body">
            <i id="i" class="fa fa-address-card"></i>
            <h3 class="card-title mt-2" style="height:60px">Derecho a la Salud</h3>
            <hr>
            <p class="card-text" style="height:100px">Trabajamos por la defensa del derecho a la salud desde un paradigma holístico y global.</p>
            <a type="button" class="btn btn-primary mt-2" href="{{ path('expandido') }}">Leer más</a>
          </div>
        </div>
    </div>
    <div id="cartas" class="col-lg-3 col-md-6 col-xs-6 col-12">
        <div class="card text-center">
          <div class="card-body">
            <i id="i" class="fa fa-globe" aria-hidden="true"></i>
            <h3 class="card-title mt-2" style="height:60px">Cooperación al desarrollo</h3>
            <hr>
            <p class="card-text" style="height:100px">Apostamos por una cooperación construida bajo el enfoque de los derechos humanos.</p>
            <a type="button" class="btn btn-primary mt-2" href="{{ path('expandido') }}">Leer más</a>
          </div>
        </div>
    </div>
    <div id="cartas" class="col-lg-3 col-md-6 col-xs-6 col-12">
        <div class="card text-center">
          <div class="card-body">
            <i id="i" class="fa fa-book"></i>
            <h3 class="card-title mt-2" style="height:60px">Agenda 2030 ODS</h3>
            <hr>
            <p class="card-text" style="height:100px">Enfocamos nuestras acciones hacia el plan de acción a favor de las personas y el planeta.</p>
            <a type="button" class="btn btn-primary mt-2" href="{{ path('expandido') }}">Leer más</a>
          </div>
        </div>
    </div>

  </article>

  <article class="row justify-content-center">

    <h4 class="text-secondary">¿Quieres conocer mejor el proyecto?</h4>

  </article>
  <article class="row justify-content-center">

    <h4 class="text-secondary">Descárgate el suplemento sobre las Redes Sanitarias Solidarias que editó La Directa.</h4>

  </article>
  <article class="row justify-content-center">

    <a type="button" target="_blank" class="btn btn-primary" href="https://redsanitariasolidaria.org/wp-content/uploads/2019/08/Suplement_XarxaSanitat_web.pdf"><i class="fa fa-file-pdf-o mr-2"></i>Suplemento "La Directa"</a>

  </article>

  <article id="jumbotron" class="jumbotron d-flex align-items-center" style="background-image:url('http://redsanitariasolidaria.org/wp-content/uploads/2019/02/20170314_113338.jpg'); background-repeat: no-repeat; height: 600px; background-size: cover;">

    <div class="container d-flex justify-content-center">
      <h3 class="text-light text-center">La sociedad reclama un cambio de paradigma en la forma de entender la salud.</h3>
    </div>

  </article>

  <article class="row">

    <p class="text-secondary text-justify">Porque estar sano no es solo no estar enfermo, porque la salud no entiende de fronteras, porque la salud de las personas es una cuestión de <b>justicia social</b>.</p>

  </article>

  <article class="row justify-content-center">

    <a type="button" class="btn btn-primary mt-2" href="{{ path('nuestraPropuesta') }}">Leer más</a>

  </article>

  <article class="row justify-content-center">

    <iframe src="https://www.google.com/maps/d/embed?mid=1uKVDBlaFmrizerhTXUjNBX8mCj24FJPV" width="600" height="450" frameborder="0" style="border:0"></iframe>
    <a type="button" class="btn btn-primary mt-5" href="{{ path('entidades') }}"><i class="fa fa-group mr-2"></i>Conócenos mejor, visita los perfiles de cada entidad</a>

  </article>

  <article class="row justify-content-center">

    <h4>Proyecto coordinado por</h4>

  </article>

  <article class="row justify-content-center">

    <img class="col-lg-3 col-md-3 col-xs-3 col-3" src="img/MMMediterranea.png" alt="Logo Medicus Mundi Mediterranea">
    <img class="col-lg-2 col-md-2 col-xs-2 col-2 offset-2" src="img/logo-acoec.jpg" alt="Logo acoec">
    <img class="col-lg-3 col-md-3 col-xs-3 col-3 offset-2" src="img/LOGO_FARMAMUNDI-1024x456.jpg" alt="Logo Farmamundi">
  </article>

  <article class="row justify-content-center">

    <h4>Con la financiación de:</h4>

  </article>

  <article class="row justify-content-center">

    <img class="col-lg-6 col-md-6 col-xs-4 col-4" src="img/Logo-transparencia_Negro.png" alt="Logo Generalitat Valenciana">

  </article>

</section>
{% endblock %}
