{% extends "main/layout.html.twig" %}
{% block head %}
    <link rel="stylesheet" href="./css/estilosJornadas.css">
    <script src="./js/scriptJornadas.js"></script>
{% endblock %}
{% block titulo %}Jornadas Formativas{% endblock %}
{% block TituloCabecera %}{% for cabeza in jornadasBBDD %}{{ cabeza.titCabecera }}{% endfor %}{% endblock %}
{% block contenido %}
    <!-- Section -->
    <section class="container">
    <!-- Descripción de jornadas -->
        <article style="margin-top:4%;" class="text-center">
        <div class="row d-flex align-items-center">
            <div class="col-4">
                <p class="text-dark">¿Has oído alguna vez hablar<br> de la Agenda 2030?</p>
            </div>
            <div style="border-left: solid 3px #183e7d; border-right: solid 3px #183e7d; width: 15px; padding:2% 0%;" class="col-4">
                <p class="text-dark font-weight-bold">¿Cómo contribuimos a la<br> Agenda 2030?</p>
            </div>
            <div style="padding:2% 1%;" class="col-4">
                <p class="text-dark">¿Conoces los Objetivos<br> de Desarrollo Sostenible?</p>
            </div>
        </div>
        <div class="text-justify Ag30">
        Seguramente te interesará saber que se trata de un compromiso adquirido por todos los países para 
        solucionar entre todas problemas como la  pobreza, la desigualdad, el cambio climático… 
        Y así hasta 17 objetivos con sus metas, indicadores… Y seguramente entenderás que esto tenemos que hacerlo 
        entre todas (personas, instituciones, empresas, administraciones públicas…) o nunca se podrán lograr los 
        Objetivos marcados por la Agenda de las NNUU. Así que esto te ha de llevar a pensar.
        </div>
        <div class="row d-flex align-items-center">
            <div style="padding:3% 0%;" class="col-4">
                <p class="text-dark">¿A qué nivel?</p>
            </div>
            <div style="border-left: solid 3px #183e7d; border-right: solid 3px #183e7d; width: 15px; padding:2% 0%;" class="col-4">
                <p class="text-dark font-weight-bold">¿Contribuye mi entidad a la<br> consecución de estos Objetivos?</p>
            </div>
            <div style="padding:2% 0%;" class="col-4">
                <p class="text-dark">¿Podemos hacer algo más?</p>
            </div>
        </div>
        <div class="text-justify Ag30">
        Para responder a estas y otras cuestiones te invitamos al taller participativo que organizan 
        las tres Redes Sanitarias Solidarias de la Comunitat Valenciana. Apúntate a través del siguiente 
        cuestionario y conoce cómo contribuimos a la Agenda 2030, y qué vamos a hacer para ayudar a las entidades 
        sanitarias valencianas a sumar cada día más por conseguir un mundo mejor.
        </div>
        </article>
        <article style="margin-top:4%;" class="text-center">
        <a href="{{path('formularioJornadas')}}"><button class="btn boton">Formulario de Inscripción</button></a>
        {% for jornadas in jornadasBBDD %}
        <h1><a href="https://carlosgomezgil.com/" target="_blank" class="linkh1">El ponente: {{ jornadas.titPonente }}</a></h1><br>
        <img src="/img/jornadas/{{ jornadas.fotoPonente }}" class="imagen">
        <div class="text-justify Ag30">{{ jornadas.descPonente }}</div>
        <ul class="text-left">		  
            <li>Castellón:{{jornadas.getFechaPonenteC()|date("m/d/y")}}</li>
            <li>Valencia:{{jornadas.getFechaPonenteV()|date("m/d/y")}}</li>
            <li>Alicante: {{jornadas.getFechaPonenteA()|date("m/d/y")}}</li>
        </ul>
        <div class="row">
            <img class="col-md-4 col-sm-12 carteles" id="myImg1" src="{{asset( jornadas.cartelPonenteC, 'cartelesJornadas') }}"><br>
                <div id="myModal1" class="modal">
                    <span class="close1">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
            <img class="col-md-4 col-sm-12 carteles" id="myImg2" src="{{asset( jornadas.cartelPonenteV, 'cartelesJornadas') }}"><br>
                <div id="myModal2" class="modal">
                    <span class="close2">&times;</span>
                    <img class="modal-content" id="img02">
                    <div id="caption"></div>
                </div>
            <img class="col-md-4 col-sm-12 carteles" id="myImg3" src="{{asset( jornadas.cartelPonenteA, 'cartelesJornadas') }}"><br>
                <div id="myModal3" class="modal">
                    <span class="close3">&times;</span>
                    <img class="modal-content" id="img03">
                    <div id="caption"></div>
                </div>
            </div>
        </article>
        {% endfor %}
    </section>
    <script>
var modal1 = document.getElementById("myModal1");
var modal2 = document.getElementById("myModal2");
var modal3 = document.getElementById("myModal3");
var img1 = document.getElementById("myImg1");
var img2 = document.getElementById("myImg2");
var img3 = document.getElementById("myImg3");
var modalImg1 = document.getElementById("img01");
var modalImg2 = document.getElementById("img02");
var modalImg3 = document.getElementById("img03");

img1.onclick = function(){
  modal1.style.display = "block";
  modalImg1.src = this.src;
  document.body.style = "overflow: hidden;"
}

var span1 = document.getElementsByClassName("close1")[0];

span1.onclick = function() { 
  modal1.style.display = "none";
  document.body.style = "overflow: show;"
}

img2.onclick = function(){
  modal2.style.display = "block";
  modalImg2.src = this.src;
  document.body.style = "overflow: hidden;"
}

var span2 = document.getElementsByClassName("close2")[0];

span2.onclick = function() { 
  modal2.style.display = "none";
  document.body.style = "overflow: show;"
}

img3.onclick = function(){
  modal3.style.display = "block";
  modalImg3.src = this.src;
  document.body.style = "overflow: hidden;"
}

var span3 = document.getElementsByClassName("close3")[0];

span3.onclick = function() { 
  modal3.style.display = "none";
  document.body.style = "overflow: show;"
}

    </script>
{% endblock %}