{% extends "main/base.html.twig" %}
{% block body %}
    <!-- Header y barra de navegación -->
    <header>
	<div id="img-header">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand" style="text-transform: uppercase; font-size: 30px;" href="#"><img src="img/logo.png"
					style="margin-left:22px; margin-top: -6px; margin-bottom:-9px " width="270" alt=""> </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('index') }}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('nuestraPropuesta') }}">Nuestra propuesta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('jornadasFormativas') }}">Jornadas Formativas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('mirant') }}">Mirant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Forma Parte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contacto') }}">Contacto</a>
                    </li>
                </ul>
            <div class="main">
  
        <!-- Another variation with a button -->
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search this blog">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>    
      </div>
			</div>
		</nav>
		<div class="sticky-container">
    <ul class="sticky">
        <li>
            <img src="img/iconos_rrss/instagram.png" width="32" height="32">
            <p><a href="https://www.instagram.com/red.sanitaria.solidaria/" target="_blank">Siguenos en<br>Instagram</a></p>
        </li>
        <li>
            <img src="img/iconos_rrss/facebook.png" width="32" height="32">
            <p><a href="https://www.facebook.com/Red-Sanitaria-Solidaria-1590026707810592/" target="_blank">Siguenos en <br>Facebook</a></p>
        </li>
        <li>
            <img src="img/iconos_rrss/youtube.png" width="32" height="32">
            <p><a href="https://www.youtube.com/channel/UC8R-NvlhdzXxySXABd7FFGQ" target="_blank">Siguenos en <br>YouYube</a></p>
        </li>
        <li>
            <img src="img/iconos_rrss/twitter.png" width="32" height="32">
            <p><a href="https://twitter.com/RedSanitaria" target="_blank">Siguenos en <br>Twitter</a></p>
        </li>
    </ul>
</div>
    </div>
					</li>
				</ul>
				<br>
    </header>
    {% block contenido %}{% endblock %}
    <!-- Footer -->
{% endblock %}