{% extends "main/base.html.twig" %}
{% block body %}
	<!-- Header y barra de navegación -->
	<header>
		<div id="img-header">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<a class="navbar-brand" style="text-transform: uppercase; font-size: 30px;" href="#"><img src="img/logo.png" style="margin-left:22px; margin-top: -6px; margin-bottom:-9px " width="270" alt="">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">

					<ul id="navbar" class="navbar-nav ml-auto my-2 my-lg-0">
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('index') }}">Inicio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('nuestraPropuesta') }}">Propuesta</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('jornadasFormativas') }}">Jornadas</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Mirant
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Mirant I</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{path('mirant')}}">Mirant II</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Mirant III</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('formaParte') }}">Forma Parte</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('contacto') }}">Contacto</a>
						</li>
					</ul>

					<div
						class="main">

						<!-- Another variation with a button -->
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search this blog">
							<div class="input-group-append">
								<button class="btn btn-secondary" type="button">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</nav>
			</div><br>
		</nav>
		<div class="sticky-container">
			<ul class="sticky">
				<a href="https://www.instagram.com/red.sanitaria.solidaria/" target="_blank">
					<li>
						<img src="img/iconos_rrss/instagram.png" width="32" height="32">
					</li>
				</a>
				<a href="https://www.facebook.com/Red-Sanitaria-Solidaria/" target="_blank">
					<li>
						<img src="img/iconos_rrss/facebook.png" width="32" height="32">
					</li>
				</a>
				<a href="https://www.youtube.com/channel/UC8R-NvlhdzXxySXABd7FFGQ" target="_blank">
					<li>
						<img src="img/iconos_rrss/youtube.png" width="32" height="32">
					</li>
				</a>
				<a href="https://twitter.com/RedSanitaria" target="_blank">
					<li>
						<img src="img/iconos_rrss/twitter.png" width="32" height="32">
					</li>
				</a>
			</ul>
		</div>
	</div>
	{% block contenido %}{% endblock %}
	<!-- footer -->
	<footer style="background-color: #18374d">
		<div class="container footerC">
			<div class="row">
				<div class="col-lg-5 text-center text-md-left">
					<div class="card cardEs card-1">
						<h4 class="card-title titulov text-center"><b>Únete a la red.</b></h4>
						<p id="textCard" class="card-text text-jutify">No importa si eres una asociación, una universidad, un colegio oficial o una administración pública. Únete a la red sanitaria solidaria de tu provincia y ayudanos a hacer desde la comunidad valenciana un mundo y una sociedad más sanos.</p>
						<a href="contacto" class="btn btn-primary botonAContacto offset-md-4 offset-sm-1">¡Quiero unirme!</a>
					</div>
				</div>

				<div class="col-lg-3 text-white my-4 d-flex align-items-center">
					<div class="py-2 rrss">
						<a href="https://www.facebook.com/Red-Sanitaria-Solidaria/" target="_blank" style="color: white !important;">
							<i class="fab fa-facebook fa-2x text-primary mx-4"></i>Facebook</a><br>
						<a href="https://www.instagram.com/red.sanitaria.solidaria/" target="_blank" style="color: white !important;">
							<i class="fab fa-instagram fa-2x text-danger mx-4"></i>Instagram</a><br>
						<a href="https://twitter.com/RedSanitaria" target="_blank" style="color: white !important;">
							<i class="fab fa-twitter fa-2x text-info mx-4"></i>Twitter
						</a><br>
						<a href="https://www.youtube.com/channel/UC8R-NvlhdzXxySXABd7FFGQ" target="_blank" style="color: white !important;">
							<i class="fab fa-youtube fa-2x text-danger mx-4"></i>Youtube
						</a>
					</div>
				</div>

				<div id="rrss" class="col-lg-4 text-white d-flex align-items-center">
					<div class="py-2 my-4">
						<div>
							<h4 style="color: white !important;"><b>Red Sanitaria Solidaria</b></h4>
							<p class="text-white">
								<b>Castellón de la Plana</b><br>
								964 222 020 – 601 187 746
								<br>
								<b>Valencia</b>
								<br>
								670 394 103
								<br>
								<b>Alicante</b>
								<br>
								965 650 487 – 660 575 104</p>
						</div>
					</div>
				</div>
				</div>
				<div class="row">
					<div class="col-lg-12 footer-copyright text-center py-3">© 2020 Copyright:
						<a href="https://www.redsanitariasolidaria.org/"> www.redsanitariasolidaria.org</a>
					</div>
				</div>
		</div>
	</footer>
{% endblock %}
