{% extends "main/layout.html.twig" %}
{% block head %}
<link rel="stylesheet" href="{{ asset("index.css", "estilos") }}">
{% endblock %}
{% block titulo %}{% endblock %}
{% block contenido %}
<section class="container">
  <!-- Cards -->
  <article class="row">
    <div class="col-lg-3 col-md-3 col-xs-6 col-12">
      <div class="card">
          <div class="card-body text-center" id="cards">
            <i id="i" class="fa fa-stethoscope"></i>
            <h3 class="card-title mt-2"  style="height:60px">Salud Global</h3>
            <hr>
            <p class="card-text" style="height:100px">Entendemos que la salud es un concepto global que no entiende de fronteras.</p>
            <a type="button" class="btn btn-primary mt-2" href="#Salud">Leer más</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6 col-12">
      <div class="card">
          <div class="card-body text-center" id="cards">
          <i id="i" class="fa fa-address-card"></i>
          <h3 class="card-title mt-2" style="height:60px">Derecho a la Salud</h3>
          <hr>
          <p class="card-text" style="height:100px">Trabajamos por la defensa del derecho a la salud desde un paradigma holístico y global.</p>
          <a type="button" class="btn btn-primary mt-2" href="#Derecho">Leer más</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6 col-12">
      <div class="card">
          <div class="card-body text-center" id="cards">
          <i id="i" class="fa fa-globe" aria-hidden="true"></i>
          <h3 class="card-title mt-2" style="height:60px">Cooperación al desarrollo</h3>
          <hr>
          <p class="card-text" style="height:100px">Apostamos por una cooperación construida bajo el enfoque de los derechos humanos.</p>
          <a type="button" class="btn btn-primary mt-2" href="#Cooperacion">Leer más</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6 col-12">
      <div class="card">
          <div class="card-body text-center" id="cards">
          <i id="i" class="fa fa-book"></i>
          <h3 class="card-title mt-2" style="height:60px">Agenda 2030 ODS</h3>
          <hr>
          <p class="card-text" style="height:100px">Entendemos que la salud es un concepto global que no entiende de fronteras.</p>
          <a type="button" class="btn btn-primary mt-2" href="#Agenda">Leer más</a>
      </div>
    </div>
  </article>
</section>

<section id="Salud" class="container">
  <h3 id="titulo" class="col-12 text-center text-grey"><b>1. Salud Global</b></h3>
  <article class="row">
    <p class="col-4 offset-1 text-center text-grey">Las entidades que formamos parte de las Redes Sanitarias Solidarias entendemos que la salud es un concepto global, que no entiende de fronteras y cuyos problemas han de afrontarse de forma global y comunitaria.</p>
    <img class="col-5 offset-1" src="{{ asset('Atención-sanitaria-Haití-Foto-Miquel-Benitez-1024x682.jpg','imagen') }}" alt="imagen atención sanitaria">
  </article>
  <div class="row">
  <article>
    <h3 class="col-12 text-center text-grey">"Lo global"</h3>
    <p class="col-10 offset-1 text-justify text-grey">El Instituto de Medicina de los EEUU define Salud Global como los problemas, temas e intereses en salud que trascienden los límites nacionales, pueden ser influenciados por las circunstancias y experiencias en otros países, y son mejor enfocados por soluciones y acciones cooperativas.» Lo “global” por tanto, se refiere al alcance o el impacto que tienen los problemas de salud en la comunidad mundial, no a que se encuentren localizados en varios países.</p>
  </article>
  <article>
    <h3 class="col-12 text-center text-grey">Justicia social</h3>
    <p class="col-10 offset-1 text-justify text-grey">El Instituto Nacional de Salud Pública de México lo define de una manera más amplia como “una manera de ver y abordar la salud como un bien público mundial, como un tema de justicia social y como un derecho universal. Sus características son que gira en torno a la equidad, la ética y el respeto a los derechos humanos; analiza temas y riesgos nuevos y re-emergentes; privilegia el trabajo con grupos poblacionales en desventaja social; responde a los retos comunes con profundidad local y alcance global; promueve la participación ciudadana; impulsa la interdisciplinariedad e intersectorialidad; vincula a agentes económicos, políticos y sociales; traduce hallazgos a acciones concretas y cuantificables, y enfatiza colaboraciones horizontales y procesos compartidos entre países.”</p>
  </article>
</section>

<section id="Derecho" class="container">
  <h3 id="titulo" class="col-12 text-center text-grey"><b>2. Derecho a la salud</b></h3>
</section>
<section class="container">
    <h5 class="col-12 text-center text-grey">“ Toda persona tiene derecho a un nivel de vida adecuado que le asegure, así como a su familia, la salud y el bienestar, y en especial la alimentación, el vestido, la vivienda, la asistencia médica y los servicios sociales necesarios. "</h5>
</section>
<section class="container">
  <article id="logo" class="jumbotron" style="background-image:url('{{ asset('LOGO_ONU.png','imagen') }}'); height: 498px; width: 600px; background-position-y: center; background-repeat: no-repeat; background-size: cover;">
    <p>Declaración Universal de Derechos Humanos</p>
    <p>PRIMER PÁRRAFO DEL ARTÍCULO 25</p>
  </article>
</section>
<section class="container">
  <article class="row">
    <h1 id="titulo" class="col-10 offset-1 text-fluid"><b>Derecho a la Salud</b></h1>
    <h5 class="col-10 offset-1 text-fluid">Las entidades que formamos parte de las Redes Saitarias Solidarias trabajamos por la defensa del Derecho a la salud.</h5>
  </article>
</section>
<section class="container-fluid">
  <article class="jumbotron-fluid" class="jumbotron d-flex align-items-center" style="background-image:url('{{ asset('Violencia-de-genero-El-salvador-1024x768.jpg','imagen') }}'); height: 500px; background-position-y: center; background-repeat: no-repeat; background-size: cover;">
  </article>
</section>
<section class="container">
  <article class="row">
    <h1 id="titulo" class="col-10 offset-1 text-fluid"><b>El Derecho a la Salud es “el derecho al grado máximo de salud que se pueda lograr”</b></h1>
    <h5 class="col-10 offset-1 text-justify">(Constitución de la OMS de 1946)
    Este derecho se ha reiterado y reafirmado en varias ocasiones, principalmente en la Declaración de Alma-Ata en 1978 y en la Declaración Mundial de la Salud en 1998. Este derecho fundamental está basado no sólo en la atención a la salud, sino también está intrínsecamente relacionado con otros derechos que afectan a los principales determinantes de la salud (lo que llamamos “determinantes sociales de la salud”). Disponibilidad, Accesibilidad, Aceptabilidad y Calidad, son los cuatro criterios para evaluar el cumplimiento del Derecho a la Salud en el mundo.</h5>
  </article>
</section>
<section class="container" style="color:#204661">
  <article class="jumbotron" style="background-image:url('{{ asset('1.jpg','imagen') }}'); height: 498px; width: 600px; background-position-y: center; background-repeat: no-repeat; background-size: cover;">
    <h1 id="titulo" class="col-10 offset-1 text-fluid">La noción de la salud.</h1>
    <h5 class="col-10 offset-1 text-fluid">La noción de la salud ha ido evolucionando a lo largo de la historia desde una concepción médico biológica hacia un paradigma holístico y global, más relacionado con los determinantes sociales de la salud.</h5>
  </article>
</section>

<section id="Cooperacion" class="container">
  <h3 id="titulo" class="col-12 text-center text-grey"><b>3. Cooperación al desarrollo</b></h3>
</section>
<section class="container-fluid">
  <article id="jumbotron-fluid" class="jumbotron d-flex align-items-center" style="background-image:url('{{ asset('mmc-2012-0018.jpg','imagen') }}');background-position-y: center; background-repeat: no-repeat; height: 500px; background-size: cover;">
    <div class="row">
      <h1 id="titulo" class="col-12 text-center text-grey" style="color:white; text-align:center"><b>"El desarrollo humano es un proceso en el cual se amplían las oportunidades del ser humano."</b></h1>
      <h5 class="col-12 text-center text-grey" style="color:white; text-align:center">Capítulo 1 del Informe de Desarrollo Humano de 1990.</h5>
    </div>
  </article>
</section>
<section class="container">
  <article class="row">
    <h1 class="col-12 text-center text-grey">Cooperación para el desarrollo sí, pero basada en los derechos humanos</h1>
    <h5 class="col-10 offset-1 text-center">Según la Agencia Española de Cooperación Internacional para el Desarrollo (AECID), la Cooperación para el Desarrollo comprende el conjunto de actuaciones que contribuyen al desarrollo humano y sostenible, la disminución de la pobreza y el pleno ejercicio de los derechos en una sociedad más justa. <b>Las entidades de las Redes Sanitarias Solidarias apostamos por una cooperación para el desarrollo construida bajo el enfoque basado en derechos humanos, </b> tal y como lo recoge la Oficina del Alto Comisionado para los Derechos Humanos de Naciones Unidas: el EBDH es un marco conceptual del proceso de desarrollo humano que desde el punto de vista normativo está basado en las normas internacionales de derechos humanos y desde el punto de vista operativo está orientado a la promoción y la protección de los derechos humanos.</h5>
  </article>
</section>
<section class="container-fluid">
  <article id="jumbotron-fluid" class="jumbotron d-flex align-items-center" style="background-image:url('{{ asset('ECUADOR-HACIA-EL-BUEN-VIVIR-04-1024x819.jpg','imagen') }}');background-position-y: center; background-repeat: no-repeat; height: 500px; background-size: cover;">
  </article>
</section>
<section class="container">
  <article class="row">
    <h1 class="col-12 text-center text-center mt-8"><b>Los derechos humanos definen 3 roles</b></h1>

    <h5 class="col-10 offset-1 text-center">El desarrollo se centra en el ser humano, pero hay un cambio en su rol.</h5>

    <h3 id="titulo" class="col-10 offset-1 ext-center text-justify"><b>1. Los titulares de Derechos.</b></h3>
    <h5 class="col-10 offset-1 text-justify mt-8">El ser humano pasa de ser un sujeto de necesidades que deben ser cubiertas, a ser un sujeto de derechos con capacidades para ejercerlos. Es sujeto activo del desarrollo, protagonista de los cambios y transformaciones de su comunidad.</h5>

    <h3 id="titulo" class="col-10 offset-1 ext-center text-justify"><b>2. Los titulares de Obligaciones.</b></h3>
    <h5 class="col-10 offset-1 text-justify mt-8">Desde el propio concepto de los derechos humanos, no existen derechos si no hay alguien que tiene obligación sobre ellos. El Estado pasa a ser el sujeto con obligaciones jurídicas y morales en relación con el cumplimiento y desarrollo efectivo de los derechos humanos.</h5>

    <h3 id="titulo" class="col-10 offset-1 ext-center text-justify"><b>3. Los titulares de Responsabilidades.</b></h3>
    <h5 class="col-10 offset-1 text-justify mt-8">El ser humano, al igual que tiene derechos, tiene responsabilidades relacionadas con el cumplimiento y desarrollo de los derechos humanos, por el hecho de formar parte de una sociedad. Esta nueva asunción de roles implica un cambio fundamental en las relaciones de poder entre ellos ya que los sitúa dentro del marco de los derechos humanos. Dota a los individuos del poder de la exigibilidad frente al resto de actores que deben estar obligados a cumplir con sus obligaciones y ser conscientes de sus responsabilidades.</h5>
  </article>
</section>
<section class="container-fluid">
  <article id="jumbotron-fluid" class="jumbotron d-flex align-items-center" style="background-image:url('{{ asset('P1010082_sensedata.jpg','imagen') }}');background-position-y: center; background-repeat: no-repeat; height: 500px; background-size: cover;">
    <div class="row">
      <h1 id="titulo" class="col-12 text-center text-grey" style="color:white;"><b>Educación y Sensibilización para el desarrollo.</b></h1>
      <h5 class="col-12 text-center text-grey" style="color:white;">Una de nuestras principales líneas en las que trabajamos.</h5>
    </div>
  </article>
</section>
<section class="container">
  <article class="row">
    <h5 id="titulo" class="col-10 offset-1 text-center">Además del trabajo que realizamos en los países empobrecidos, una de las principales líneas en las que trabajamos las entidades de las Redes Sanitarias Solidarias es la <b>Educación y Sensibilización para el desarrollo.</b></h5>
    <h5 id="titulo" class="col-10 offset-1 text-center">La Estrategia de Educación para el Desarrollo (EpD) de la Cooperación Española define la EpD como: «Proceso educativo (formal, no formal e informal) constante encaminado, a través de conocimientos, actitudes y valores, a promover una ciudadanía global generadora de una cultura de la solidaridad comprometida en la lucha contra la pobreza y la exclusión, así como con la promoción del desarrollo humano y sostenible».</h5>
    <h5 id="titulo" class="col-10 offset-1 text-center">De nada sirve hacer esfuerzos por cambiar el Sur sin el compromiso de transformar también el Norte, que es donde se encuentran gran parte de esos desequilibrios. Responsables políticos, instituciones y ONGD se manifiestan de acuerdo con esta idea. Las cuatro dimensiones, no excluyentes e interrelacionadas, a través de las que se desarrolla la Ep​D son: sensibilización, educación / formación, investigación y participación social / incidencia política.</h5>
  </article>
</section>

<section id="Agenda" class="container">
  <h3 id="titulo" class="col-12 text-center text-grey"><b>4. Objetivos de Desarrollo Sostenible</b></h3>
</section>
<section id="Cooperacion" class="container">
  <h5 class="col-12 text-center text-grey">Agenda 2030 - 17 Objetivos y 169 metas</h5>
</section>
<section class="container-fluid">
  <article id="jumbotron-fluid" class="jumbotron d-flex align-items-center" style="background-image:url('{{ asset('20180301122854_objetivos-desarrollo-sost_foto610x342.jpg','imagen') }}');background-position-y: center; background-repeat: no-repeat; height: 500px; background-size: cover;">
  </article>
</section>
<section class="container">
  <article class="row">
    <h5 class="col-12 text-center text-grey">En el año 2015, la ONU aprobó la Agenda 2030 para el Desarrollo Sostenible, un plan de acción a favor de las personas y el planeta, basado en 17 objetivos y 169 metas que abarcan las esferas económica, social y ambiental. Es un plan a 15 años en el que los Estados se comprometen a movilizar los medios necesarios para su implementación. La Agenda 2030 no se centra únicamente en los países más empobrecidos, sino que las metas han de cumplirlas y trabajar por ellas todos los países. Esta nueva característica constituye un avance importante en cuanto al reconocimiento de que la pobreza y la exclusión se deben a factores globales que, en muchos casos, se generan en los países enriquecidos.</h5>
  </article>
  <article class="row">
    <h5 class="col-12 text-center text-grey">El cumplimiento de estos ODS solo será posible por tanto si promovemos una serie de dinámicas de sensibilización y formación que permita canalizar la información sobre los ODS hacia toda la ciudadanía, y también en sentido contrario, si desde la ciudadanía somos capaces de articular las medidas necesarias para reivindicar, promover, y defender el cumplimiento de estos objetivos también hacia la administración y los estados. Las Redes Sanitarias Solidarias pretenden, por tanto, contribuir al despertar en la ciudadanía un sentimiento de verdadera pertenencia a estos objetivos, especialmente con los relacionados con la salud, para tener la fuerza y la voluntad suficiente para alcanzar los resultados planteados.</h5>
  </article>
</section>

{% endblock %}
