{% extends "main/layout.html.twig" %}
{% block head %}
    <link rel="stylesheet" href="css/estilosMirant.css">
<script src="js/sweetalert2.all.min.js"></script>
<script src="js/sweetalert2.min.js"></script>
<link rel="css/stylesheet" href="sweetalert2.min.css">
{% endblock %}
{% block titulo %}Mirant{% endblock %}
{% block TituloCabecera %}{% for cabeza in mirantBBDD %}{{ cabeza.titCabecera }}{% endfor %}{% endblock %}
{% block contenido %}

		
{% for mirant in mirantBBDD %}
	<section class="container">
		<article class="row">
			<h1 class="col text-center" id="tituloInicial">II EDICIÓN</h1>
		</article>
		<div class="row" id="contenido-mirant">
			<div class="col-xl-6 text-center">
				<h1 id="titulo-mirant">{{ mirant.titMirant }}</h1>
			</div>
			<div class="col-xl-7">
				<p id="texto-mirant">{{ mirant.descripcionMirant }}</p>
			</div>

			<div class="col-xl-5 text-center imgMir">
				<img id="CartelMirant" width="80%" src="img{{ mirant.cartelMirant }}">
			</div>
		</div>
		</section>
		<section>
		<iframe width="100%" height="500" src="{{ mirant.videoSpotMirant }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<article class="jumbotron">
			<div class="row" style="margin-top: -24px;">
				<h1 class="col text-center" id="tituloInicial">Las Sedes ¡Inscríbite!</h1>
			</div>
            <div class="direcciones row text-center">
                <div class="col-xl-4">
                    <img id="imagenPopUp" src="img/castellon.png" alt="Castellón" class="dirFoto"><br>
                    <h3>Castellón</h3><br>
					<button id="Castellon" class="btn btn-info">Inscribirse</button>
                </div>
                <div class="col-xl-4">
                    <img id="imagenPopUp" src="img/valencia.png" alt="Valencia" class="dirFoto"><br>
                    <h3>Valencia</h3><br>
					<button id="Valencia" class="btn btn-info">Inscribirse</button>
                </div>
                <div class="col-xl-4">
                    <img id="imagenPopUp" src="img/alicante.png" alt="Alicante" class="dirFoto"><br>
                    <h3>Alicante</h3><br>
						<button id="Alicante" class="btn btn-info">Inscribirse</button>
                </div>
            </div>
		</article>
		{% endfor %}
		<div id="peliculas">
		<article class="row" style="margin-top: 24px;">
			<h1 class="col text-center" id="titulos-peliculas">Peliculas</h1>
		</article>
		<article class="container" id="botones-mirant">
			<div class="Galeria-pelis row text-center">
			{% for pelicula in peliculasBBDD %}
				<div class="col-xl-4">
					<div class="thumb">
						<a class="lightbox" href="img{{ pelicula.fotoPelicula }}" title="Milk Splashes"><img src="img{{ pelicula.fotoPelicula }}" class="pelicula" alt=""/></a>
					</div>
					<h3 class="entry-title" id="titulos-peliculas">{{ pelicula.titPelicula }}</h3>
					<a href="{{ pelicula.trailerPelicula }}" target="_onblank" class="btn btn-primary mb-5 btn-lg active" style="margin-left: 10px;" role="button" aria-pressed="true">Ver trailer</a>
				</div>
			{% endfor %}
			</div>
		</article>
		</div>

	</section>

	<script>
	$("#Castellon").click(function(){
Swal.fire({
  title: 'Estás seguro?',
  text: "Vas a ser redireccionado a la página de reserva de entradas gratuitas de Castellón",
  icon: 'question',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  cancelButtonText: 'Cancelar',
  confirmButtonText: 'Sí, quiero visitar la página!'
}).then((result) => {
  if (result.value) {
location.href ="https://redsanitariasolidaria.org/mostra-de-cinema-castellon-ii/";
  }
})

});
$("#Valencia").click(function(){
Swal.fire({
  title: 'Estás seguro?',
  text: "Vas a ser redireccionado a la página de reserva de entradas gratuitas de Valencia",
  icon: 'question',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  cancelButtonText: 'Cancelar',
  confirmButtonText: 'Sí, quiero visitar la página!'
}).then((result) => {
  if (result.value) {
location.href ="https://redsanitariasolidaria.org/mostra-de-cinema-valencia-ii/";
  }
})

});
$("#Alicante").click(function(){
Swal.fire({
  title: 'Estás seguro?',
  text: "Vas a ser redireccionado a la página de reserva de entradas gratuitas de Alicante",
  icon: 'question',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  cancelButtonText: 'Cancelar',
  confirmButtonText: 'Sí, quiero visitar la página!'
}).then((result) => {
  if (result.value) {
location.href ="https://redsanitariasolidaria.org/mostra-de-cinema-alicante-ii/";
  }
})

});</script>
{% endblock %}
