<!DOCTYPE html>

<title>Entidades</title>

{% block body %}
    <h1>Entidades</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entidade.id }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ entidade.logo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entidade.nombre }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entidade.telefono }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ entidade.correo }}</td>
            </tr>
            <tr>
                <th>Localizacion</th>
                <td>{{ entidade.localizacion }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entidade.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entidades_index') }}">back to list</a>

    <a href="{{ path('entidades_edit', {'id': entidade.id}) }}">edit</a>

    {{ include('entidades/_delete_form.html.twig') }}
{% endblock %}
