{% extends "adminpage/layout.html.twig" %}

    {% block div %}
    <table class="table table-striped table-hover" align="center" style="text-align: center;">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitCabecera</th>
                <th>TitInicio</th>
                <th>SubtInicio</th>
                <th>ImagenInicio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pag_inicio in pag_inicios %}
            <tr>
                <td>{{ pag_inicio.id }}</td>
                <td>{{ pag_inicio.titCabecera }}</td>
                <td>{{ pag_inicio.titInicio }}</td>
                <td>{{ pag_inicio.subtInicio }}</td>
                <td>{{ pag_inicio.imagenInicio }}</td>
                <td>
                    <a href="{{ path('pag_inicio_show', {'id': pag_inicio.id}) }}">show</a>
                    <a href="{{ path('pag_inicio_edit', {'id': pag_inicio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
