<!DOCTYPE html>

<title>FechasJornadas index</title>

{% block body %}
        <h1 style="text-align:center">Fechas Jornadas index</h1><br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valencia</th>
                <th>Alicante</th>
                <th>Castellon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fechas_jornada in fechas_jornadas %}
            <tr>
                <td>{{ fechas_jornada.id }}</td>
                <td>{{ fechas_jornada.valencia }}</td>
                <td>{{ fechas_jornada.alicante }}</td>
                <td>{{ fechas_jornada.castellon }}</td>
                <td>
                    <a href="{{ path('fechas_jornadas_show', {'id': fechas_jornada.id}) }}">show</a>
                    <a href="{{ path('fechas_jornadas_edit', {'id': fechas_jornada.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fechas_jornadas_new') }}">Create new</a>
{% endblock %}
