{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}

{% extends "adminpage/layout.html.twig" %}

    {% block div %}

<div class="container">
    <div class="col-12 offset-1">
                 {{form_start(form, {'attr':{'id':'contactform' }})}}
                    <div>
                    <h1>Crear película nueva</h1>
                    </div>

                        <div class="form-group">
                     <label for="formGroupExampleInput">Título de la cabecera <span class="required">*</span></label>
                    {{form_widget(form.titCabecera, {'attr':{'id':'titulo', 'class':'form-control', 'placeholder':'Título cabecera', 'required':''}})}}
                    </div>
                        <br>
                    <div>
                    <label>Título del ponente<span class="required">*</span></label>
                    {{form_widget(form.titPonente, {'attr':{'id':'tit', 'class':'form-control', 'placeholder':'Título ponente', 'required':''}})}}
                    </div>
 <br>
                    <div>
                    <label>Trailer de la Pelicula</label>
                    {{form_widget(form.fotoPonente, {'attr':{'id':'trailer', 'class':'form-control', 'placeholder':'Trailer película', 'required':''}})}}
                    </div>
 <br>
                    <div>
                    <label>Descripción del ponente</label>
                    {{form_widget(form.descPonente, {'attr':{'id':'descripcion', 'class':'form-control',  'placeholder':'Elige la edicion de Mirant', 'required':''}})}}
                    </div>
                    <div>

                    <label>Fecha jornada Valencia</label>
                    {{form_widget(form.fechaPonenteV, {'attr':{'id':'fecha',  'placeholder':'Fecha del evento en Valencia', 'required':''}})}}
                    </div>
                    <div>
                    <label>Fecha jornada Alicante</label>
                    {{form_widget(form.fechaPonenteA, {'attr':{'id':'fecha', 'placeholder':'Fecha del evento en Alicante', 'required':''}})}}
                    </div>
                    <div>
                    <label>Fecha jornada Castellón</label>
                    {{form_widget(form.fechaPonenteC, {'attr':{'id':'fecha',  'placeholder':'Fecha del evento en Castellón', 'required':''}})}}
                    </div>
                                        <div>
                    <label>Cartel jornada Valencia</label>
                    {{form_widget(form.cartelPonenteV, {'attr':{'id':'cartel', 'class':'form-control',  'placeholder':'Nombre de la imagen', 'required':''}})}}
                    </div>
                    <div>
                    <label>Cartel jornada Alicante</label>
                    {{form_widget(form.cartelPonenteA, {'attr':{'id':'cartel', 'class':'form-control',  'placeholder':'Nombre de la imagen', 'required':''}})}}
                    </div>
                    <div>
                    <label>Cartel jornada Castellón</label>
                    {{form_widget(form.cartelPonenteC, {'attr':{'id':'cartel', 'class':'form-control',  'placeholder':'Nombre de la imagen', 'required':''}})}}
                    </div>                     
 <br>

                    <div class="col-12 offset-4">
					{{form_widget(form.send, {'attr':{'class':'btn btn-info', 'placeholder':'Enviar',  'type':'submit'}})}}
         			<input type="reset" value="Reset" class="btn btn-warning">
					</div>
                    {{form_end(form)}}
            </div>
    </div>
    
            {% endblock %}
