{% extends "adminpage/layout.html.twig" %}

    {% block div %}
   <a href="{{ path('pag_mirant_new') }}" style="margin-left:10px" ><button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-plus"></i>
            <span>Añadir nuevo</span>
            </button></a>
    <h1>PagMirant index</h1>

    <table class="table" style="text-align:center" align="center">
        <thead>
            <tr>
                <th>Edición</th>
                {# <th>TitCabecera</th> #}
                <th>Título Mirant</th>
                {# <th>DescripcionMirant</th> #}
                <th>CartelMirant</th>
                {# <th>VideoSpotMirant</th>
                <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for pag_mirant in pag_mirants %}
            <tr>
                <td>{{ pag_mirant.id }}</td>
                {# <td>{{ pag_mirant.titCabecera }}</td> #}
                <td>{{ pag_mirant.titMirant }}</td>
                {# <td>{{ pag_mirant.descripcionMirant }}</td>
                <td>{{ pag_mirant.cartelMirant }}</td>
                <td>{{ pag_mirant.videoSpotMirant }}</td> #}
                <td>
                    <a href="{{path('pag_mirant_show', {'id': pag_mirant.id}) }}" ><i class="fas fa-eye" ></i></a>
                    <br>
                    <a href="{{path('pag_mirant_edit', {'id': pag_mirant.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}